<div class="site-settings-page">
  <div class="page-content">
    <div class="settings">
      <ul id="settings-keys">
        <li>{{ "SiteTheme" | translate }}:</li>
        <li>{{ "SiteLanguage" | translate }}:</li>
        <li>{{ "DisappearanceTimeOfMessages" | translate }}:</li>
      </ul>
      <ul id="settings-values">
        <li>
          <select
            #theme
            (change)="selectTheme(theme.value)"
            name="theme"
            id="select-theme"
            [value]="selectedTheme"
          >
            <option value="dark">{{ "Dark" | translate }}</option>
            <option value="light">{{ "Light" | translate }}</option>
          </select>
        </li>
        <li>
          <select
            #language
            (change)="selectLanguage(language.value)"
            name="language"
            id="select-language"
            [value]="selectedLanguage"
          >
            <option value="ua">{{ "Ukrainian" | translate }}</option>
            <option value="pl">{{ "Polish" | translate }}</option>
            <option value="en">{{ "English" | translate }}</option>
          </select>
        </li>
        <li>
          <select
            #notificationTime
            (change)="selectNotificationTime(notificationTime.value)"
            name="notifications-time"
            id="notifications-time"
            [value]="selectedNotificationTime"
          >
            <option value="never">
              {{ "Never" | translate }}
            </option>
            <option value="500">
              0.5{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="1000">
              1{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="1500">
              1.5{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="2000">
              2{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="2500">
              2.5{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="3000">
              3{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="3500">
              3.5{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="4000">
              4{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="4500">
              4.5{{ "Seconds" | translate | shorten: 1 }}
            </option>
            <option value="5000">
              5{{ "Seconds" | translate | shorten: 1 }}
            </option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>
