<div class="site-settings-page">
  <div class="page-content">
    <div class="settings">
      <ul id="settings-keys">
        <li>Тема сайту: </li>
        <li>Мова сайту: </li>
        <li>Час зникання повідомлень: </li>
      </ul>
      <ul id="settings-values">
        <li>
          <select name="theme" id="select-theme">
            <option value="dark">Темна</option>
            <option value="light" disabled>Світла</option>
          </select>
        </li>
        <li>
          <select name="language" id="select-language">
            <option value="ukrainian">Українська</option>
            <option value="polish" disabled>Polish</option>
            <option value="english" disabled>English</option>
          </select>
        </li>
        <li>
          <select name="notifications-time" id="notifications-time">
            <option value="never" disabled>Ніколи</option>
            <option value="english">0.5 с.</option>
            <option value="english" disabled>1 с.</option>
            <option value="english" disabled>1.5 с.</option>
            <option value="english" disabled>2 с.</option>
            <option value="english" disabled>2.5 с.</option>
            <option value="english" disabled>3 с.</option>
            <option value="english" disabled>3.5 с.</option>
            <option value="english" disabled>4 с.</option>
            <option value="english" disabled>4.5 с.</option>
            <option value="english" disabled>5 с.</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>