.table-content {
  color: white;
  min-height: calc(100vh - 70px - 60px);
}
.row {
  --bs-gutter-x: 0px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  border-top: 1px #11101d solid;
  padding: 5px 0px;
}

.col.caption {
  font-size: 18px;
  text-transform: uppercase;
}
.col.name {
  text-transform: capitalize;
}

.buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttons button {
  border: none;
  outline: none;
  background: #11101d;
  color: white;
  padding: 4px 5px 4px 5px;
  transition: all 0.4s ease;
  font-size: 18px;
  height: 60px;
  transition: all 0.3s ease;
}
.buttons #btn-import {
  width: 90%;
}
.buttons #btn-remove {
  width: 10%;
  font-size: 28px;
  color: darkred;
  text-align: center;
  transition: all 0.3s ease;
}
.buttons #btn-remove:hover {
  color: red;
}

.buttons button:hover {
  background: #1d1b31;
}

button {
  border: none;
  outline: none;
  background: #11101d;
  color: white;
  padding: 4px 5px 4px 5px;
  transition: all 0.4s ease;
  font-size: 18px;
}
.button-link {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.9;
}
.button-link:hover button {
  background: #1d1b31;
  transform: scale(1.1);
  opacity: 1;
}

.col.button {
  position: relative;
  display: inline-block;
}
.hint {
  position: absolute;
  top: -30px;
  margin: -3px auto 20px;
  z-index: 3;
  background: #1d1b31;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  text-align: center;
}
.col.button:hover .hint {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: -20px;
  transform: translate(20%, -50%);
}

#selectAll {
  cursor: pointer;
}
.checkbox {
  transition: all 0.3s ease;
}
.lbl-checkbox {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.lbl-checkbox:hover .checkbox {
  transform: scale(1.1);
}

.cart-is-empty {
  display: flex;
  width: 100%;
  height: calc(100% - 70px);
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.col.quantity input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 30px;
  width: 100%;
  width: 100px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
  padding-left: 10px;
  text-align: center;
}
.col.quantity input:hover {
  background: #11101d;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 40%;
  height: 30%;
  background-color: #1d1b31;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.modal-title {
  font-weight: 600;
  font-size: 20px;
  height: 20%;
}

.modal-close {
  position: absolute;
  top: 7px;
  right: 30px;
  cursor: pointer;
}
.modal-close i {
  position: absolute;
  color: rgba(225, 0, 0, 0.5);
  font-size: 24px;
  transition: all .2s ease;
}
.modal-close #with-circle {
  opacity: 0;
}
.modal-close:hover i {
  color: rgba(225, 0, 0, 0.9);
}
.modal-close:hover #default {
  opacity: 0;
}
.modal-close:hover #with-circle {
  opacity: 1;
}

.modal-body {
  height: 60%;
}
.modal-body label {
  font-size: 18px;
}
.modal-body input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 30px;
  width: 70%;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.5s ease;
  background: #11101d;
  padding-left: 10px;
  margin-left: 20px;
}
.modal-bottom {
  height: 20%;
  display: flex;
}
.modal-bottom button {
  border-radius: 6px;
  transition: all .2s ease;
}
.modal-bottom button:hover {
  border-radius: 2px;
}
.modal-bottom #save-btn {
  background: rgba(0, 225, 0, 0.2);
}
.modal-bottom #cancel-btn {
  background: rgba(225, 0, 0, 0.2);
  margin-left: 10px;
}
.modal-bottom #save-btn:hover {
  background: rgba(0, 225, 0, 0.6);
}
.modal-bottom #cancel-btn:hover {
  background: rgba(225, 0, 0, 0.6);
}