.components {
  min-height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  background: #11101d;
  padding-left: 20px;
}

.search .bx-search {
  position: absolute;
  top: 37px;
  left: 20px;
  transform: translate(40%, -50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
  cursor: pointer;
}
.search #mainSearchBar {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
  padding-left: 35px;
}

.navigation {
  margin: 0px 20px 0px auto;
}
.navigation button {
  background: #11101d;
  color: white;
  height: 40px;
  width: 40px;
  font-size: 20px;
  transition: all .3s ease;
  border: none;
}
.navigation button:hover {
  background: #1d1b31;
}
.d-none {
  display: none;
}