<div class="site-settings-page">
  <div class="page-content">
    <div class="settings">
      <ul id="settings-keys">
        <li>Тема сайту: </li>
        <li>Мова сайту: </li>
      </ul>
      <ul id="settings-values">
        <li>
          <select name="theme" id="select-theme">
            <option value="dark">Темна</option>
            <option value="light">Світла</option>
          </select>
        </li>
        <li>
          <select name="language" id="select-language">
            <option value="ukrainian">Українська</option>
            <option value="english">Англійська</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>