<div class="site-settings-page">
  <div class="page-content">
    <div class="settings">
      <ul id="settings-keys">
        <li>Тема сайту: </li>
        <li>Мова сайту: </li>
        <li>Час зникання повідомлень: </li>
      </ul>
      <ul id="settings-values">
        <li>
          <select name="theme" id="select-theme">
            <option value="dark">Темна</option>
            <option value="light">Світла</option>
          </select>
        </li>
        <li>
          <select name="language" id="select-language">
            <option value="ukrainian">Українська</option>
            <option value="english">English</option>
          </select>
        </li>
        <li>
          <select name="language" id="select-language">
            <option value="never">Ніколи</option>
            <option value="english">0.5 с.</option>
            <option value="english">1 с.</option>
            <option value="english">1.5 с.</option>
            <option value="english">2 с.</option>
            <option value="english">2.5 с.</option>
            <option value="english">3 с.</option>
            <option value="english">3.5 с.</option>
            <option value="english">4 с.</option>
            <option value="english">4.5 с.</option>
            <option value="english">5 с.</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>