::-webkit-calendar-picker-indicator {
  margin-right: 5px;
  background: white;
  border-radius: 10px;
  height: 10px;
  width: 10px;
}

.components-wrapper {
  min-height: 70px;
  width: 100%;
  background: #11101d;
}
.components {
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: center;
  width: 100%;
  min-height: 70px;
  overflow: hidden;
}

.search .bx-search {
  position: absolute;
  top: 37px;
  left: 20px;
  transform: translate(40%, -50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
  cursor: pointer;
}
.search #mainSearchBar {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
  padding-left: 35px;
}

.navigation {
  margin: 0px 20px 0px auto;
}
.navigation button {
  background: #11101d;
  color: white;
  height: 40px;
  width: 40px;
  font-size: 20px;
  transition: all 0.3s ease;
  border: none;
}
.navigation button:hover {
  background: #1d1b31;
}
.d-none {
  display: none;
}

.page-name {
  margin: 0px;
  font-size: 22px;
  text-align: center;
  transition: all 1s ease;
}

.page-name::first-letter {
  text-transform: capitalize;
}

div.admin-features {
  margin-right: 20px;
}

div.admin-features button {
  background: #1d1b31;
  color: white;
  height: 40px;
  width: 40px;
  font-size: 20px;
  transition: all 0.3s ease;
  border: none;
  margin-right: 15px;
}
div.admin-features button:last-child {
  margin-right: 0px;
}
div.admin-features button:hover {
  background: #11101d;
  border-radius: 7px;
}

div.admin-features button i {
  transition: all 0.3s ease;
}
div.admin-features button:hover i {
  transform: scale(1.1);
}
