<div class="components-wrapper">
  <div class="components">
    <div *ngIf="isSearchBarActivated" class="search">
      <i class="bx bx-search" (click)="activeSearch()"></i>
      <input
        id="mainSearchBar"
        type="text"
        [placeholder]="'Search' | translate"
        #mainSearchBar
        (input)="setFilterValue(mainSearchBar.value)"
      />
    </div>

    <div
      class="page-name"
      [style.padding-left]="isSearchBarActivated ? '20%' : '0px'"
    >
      <h6 *ngIf="!pageName.length">{{ "SiteName" | translate }}</h6>
      <h6 *ngIf="pageName.length">{{ pageName }}</h6>
    </div>

    <div class="navigation">
      <button class="go-back" [class.d-none]="!goBackCond" (click)="goBack()">
        <i class="bx bxs-chevron-left"></i>
      </button>
      <button class="go-home" [class.d-none]="!goHomeCond" (click)="goHome()">
        <i class="bx bxs-chevrons-left"></i>
      </button>
    </div>

    <div
      *ngIf="doesUserHavePrivileges && currentPageIsMain"
      class="admin-features"
    >
      <button class="add-new-item" (click)="adminFeatures.openAddItemModal()">
        <i class="bx bxs-file-plus"></i>
      </button>

      <button class="add-new-item" (click)="adminFeatures.openAddUserModal()">
        <i class="bx bxs-user-plus"></i>
      </button>

      <button class="add-new-item" (click)="adminFeatures.openAddProdModal()">
        <i class="bx bxs-factory"></i>
      </button>
    </div>
  </div>
</div>

<app-admin-features></app-admin-features>
