<div *ngIf="(items | keyvalue)?.length" class="table">
  <div class="table-content">
    <div class="row">
      <div class="col caption">
        <h6>Назва</h6>
      </div>
      <div class="col caption">
        <h6>Надходження</h6>
      </div>
      <div class="col caption">
        <h6>Деталі</h6>
      </div>
    </div>

    <div *ngFor= "let item of getValues() | filterByName: nameToFilter" class="row item" @fadeIn @slide2right>
      <div class="col name">
        {{ item.name }}
      </div>
      <div class="col date">
        {{ item.date }}
      </div>
      <div class="col button">
        <a 
          class="button-link" 
          routerLink="/registrate-export-order/{{ item.id }}" 
          [state]="{pageName: item.name}"
        >
          <button>
            <i class="bx bx-link-external"></i>
          </button>
        </a>
        <span class="hint">переглянути деталі</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!(items | keyvalue)?.length" class="export-registration-is-empty">
  Пусто
</div>