<div *ngIf="items.length" class="table">
  <div class="table-content">
    <div class="row">
      <div class="col caption">
        <h6>Назва</h6>
      </div>
      <div class="col caption">
        <h6>Надходження</h6>
      </div>
      <div class="col caption">
        <h6>Деталі</h6>
      </div>
    </div>

    <div
      *ngFor="let item of items | filterByName: nameToFilter"
      class="row item"
      @fadeIn
      @slide2right
    >
      <div class="col name">
        {{ item.order_name }}
      </div>
      <div class="col date">
        {{ item.income_date }}
      </div>
      <div class="col button">
        <a
          class="button-link"
          routerLink="/registrate-import-order/{{ item.id }}"
          [state]="{ pageName: item.order_name }"
        >
          <button>
            <i class="bx bx-link-external"></i>
          </button>
        </a>
        <span class="hint">переглянути деталі</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!items.length" class="import-registration-is-empty">Пусто</div>
