<div *ngIf="items.length" class="table">
  <div class="table-content">
    <div class="row">
      <div class="col caption">
        <h6>{{ "Title" | translate }}</h6>
      </div>
      <div class="col caption">
        <h6>{{ "Income" | translate }}</h6>
      </div>
      <div class="col caption">
        <h6>{{ "Details" | translate }}</h6>
      </div>
    </div>

    <div
      *ngFor="let item of items | filterByName: nameToFilter"
      class="row item"
      @fadeIn
      @slide2right
    >
      <div *ngIf="item.order_name == item.special_id" class="col name">
        {{ "Ordering" | translate }} №{{ item.order_name }}
      </div>
      <div *ngIf="item.order_name != item.special_id" class="col name">
        {{ item.order_name }}
      </div>
      <div class="col date">
        {{ item.income_date | translateDate }}
      </div>
      <div class="col button">
        <a
          class="button-link"
          routerLink="/registrate-import-order/{{ item.id }}"
          [state]="{
            pageName:
              item.order_name == item.special_id
                ? ('Ordering' | translate) + ' №' + item.order_name
                : item.order_name
          }"
        >
          <button>
            <i class="bx bx-link-external"></i>
          </button>
        </a>
        <span class="hint">{{ "ViewDetails" | translate }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!items.length" class="import-registration-is-empty">
  {{ "Empty" | translate }}
</div>
