<div *ngIf="(items | keyvalue)?.length" class="table">
  <div class="table-content">
    <div class="row">
      <div class="col caption">
        <h6>Товар</h6>
      </div>
      <div class="col caption">
        <h6>Кількість</h6>
      </div>
      <div class="col caption">
        <h6>Надходження</h6>
      </div>
      <div class="col caption">
        <h6>Деталі</h6>
      </div>
      <div class="col caption">
        <input 
          type="checkbox" 
          [(ngModel)]="isAllChecked" 
          class="form-check-input" 
          (click)="chooseAll()"
          id="selectAll"
        >
      </div>
    </div>

    <div *ngFor="let item of getValues() | filterByName: nameToFilter" class="row item" @fadeIn @slide2right>
      <div class="col name">
        {{ item.name }}
      </div>
      <div class="col quantity">
        <input type="number" value="{{ item.orderedQuantity }}" min="0" max="{{ item.quantity }}">
      </div>
      <div class="col date">
        {{ item.date }}
      </div>
      <div class="col button">
        <a class="button-link" routerLink="/item/{{ item.id }}" [state]="{pageName: item.name}">
          <button>
            <i class="bx bx-link-external"></i>
          </button>
        </a>
        <span class="hint">переглянути деталі</span>
      </div>
      <div class="col">
        <label class="lbl-checkbox">
          <input 
            id="{{ item.id }}"
            #checkbox 
            type="checkbox" 
            class="form-check-input checkbox" 
            (change)="chooseOne(checkbox.checked, item.id)"
          >
        </label>
      </div>
    </div>
  </div>
  
  <div class="buttons">
    <button id="btn-import" (click)="changeModalDialogState()">
      Вивезти обрані товари
      <span id="counter">({{ selectedItemsId.length }})</span>
    </button>
    
    <button id="btn-remove" (click)="removeFromExport()">
      <i class="bx bx-trash"></i>
    </button>
  </div>
</div>

<div *ngIf="goingToOrder" class="modal-wrapper">
  <div class="modal-content">
    <div class="modal-title">
      Налаштування замовлення
      <span class="modal-close" (click)="changeModalDialogState()">
        <i class="bx bx-x" id="default"></i>
        <i class="bx bx-x-circle" id="with-circle"></i>
      </span>
    </div>
    <div class="modal-body">
      <label for="nameInput">Назва</label>
      <input type="text" id="nameInput" #nameInput />
    </div>
    <div class="modal-bottom">
      <button id="save-btn" (click)="makeAnOrder(nameInput.value)">Зберегти</button>
      <button id="cancel-btn" (click)="changeModalDialogState()">Назад</button>
    </div>
  </div>
</div>

<div *ngIf="!(items | keyvalue)?.length" class="export-is-empty">
  Пусто
</div>