<div *ngIf="item">
  <div class="item">
    <div class="item-content">
      <!-- <h6 class="item-name">{{ item.item_name }}</h6> -->
      <div class="photo-description">
        <img
          [src]="
            item.photo_src === 'default'
              ? '../../../static/images/items/default1.png'
              : srcToPhotos + item.id
          "
          alt="фото товару '{{ item.item_name }}'"
        />
        <div class="description">{{ item.description }}</div>
      </div>

      <div class="info">
        <ul>
          <li><span class="param">ID</span>: {{ item.id }}</li>
          <li><span class="param">Кількість</span>: {{ item.quantity }}</li>
          <li>
            <span class="param">Дата останнього надходження</span>:
            {{ item.income_date }}
          </li>
          <li>
            <span class="param">Виробник</span>:
            <a
              [routerLink]="['/producer/', item.Producer.id]"
              [state]="{ pageName: item.Producer.producer_name }"
              >{{ item.Producer.producer_name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="buttons" [class.admin-page]="user_role === 'admin'">
    <div class="button-import">
      <button (click)="addToCart(inputImport.value)">
        <span class="text">Замовлення</span>
      </button>
      <input
        #inputImport
        type="number"
        min="0"
        max="999999999"
        placeholder="0"
        appNgNumber
      />
    </div>

    <div class="button-export">
      <button (click)="addToExport(inputExport.value)">
        <span class="text">Вивіз</span>
      </button>
      <input
        #inputExport
        type="number"
        min="0"
        [max]="item.quantity"
        placeholder="0"
        appNgNumber
      />
    </div>

    <button
      *ngIf="user_role === 'admin'"
      id="btn-remove"
      (click)="removeItem()"
    >
      <i class="bx bx-trash"></i>
    </button>
  </div>
</div>
