.table-is-empty {
  display: flex;
  width: 100%;
  height: calc(100% - 70px);
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.table-content {
  color: white;
}
.row {
  --bs-gutter-x: 0px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  border-top: 1px #11101d solid;
  padding: 5px 0px;
}

.button button {
  border: none;
  outline: none;
  background: #11101d;
  color: white;
  border-radius: 4px;
  padding: 4px 5px 4px 5px;
  transition: all 0.4s ease;
  font-size: 18px;
}
.col.input-button .button .disabled button {
  cursor: default;
  background: #2d2c32;
}

.button-link {
  width: 50%;
  display: flex;
  justify-content: center;
  opacity: 0.9;
}
.button-link:hover button {
  background: #1d1b31;
  transform: scale(1.1);
  opacity: 1;
}

.col.caption {
  font-size: 18px;
  text-transform: uppercase;
}
.col.name {
  padding-left: 10px;
  text-align: center;
}
.col.date {
  padding-right: 0px;
  padding-left: 0px;
}
.col.button {
  position: relative;
}

.col.input-button .button,
.col.input-button .button .default,
.col.input-button .button .disabled {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 0;
  transition: all 0.3s ease;
}
.hint {
  position: absolute;
  top: -30px;
  margin: -3px auto 20px;
  z-index: 3;
  background: #1d1b31;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  text-align: center;
}
.hint.details {
  top: 0px;
  right: 50px;
}
.col.input-button .button .disabled .hint {
  background: #2d2c32;
}

.col.button:hover .hint,
.col.input-button .button:hover .hint {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: -20px;
  transform: translateY(-50%);
}

.col.input-button .input {
  width: 0;
  transition: all 0.3s ease;
}

/* 
  SO. YOU NEED TO CHANGE 
  .col.input-button:hover .input 
  with 
  .col.input-button .input.active, .col.input-button:hover .input 
  to remove cool feature 
*/

/* .col.input-button .input.active, .col.input-button:hover .input {
  width: 60%;
} */
.col.input-button:hover .input {
  width: 60%;
}
.col.input-button:hover .input {
  margin-right: 10px;
}

.col.input-button .input input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 0;
  width: 0;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
  padding-left: 10px;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.col.input-button .input.active input {
  opacity: 1;
  height: 30px;
  width: 100px;
}

.col.input-button:hover .input input {
  background: #11101d;
  opacity: 1;
  height: 30px;
  width: 100%;
}
