<div *ngIf="items.length" class="table">
  <div class="table-content">
    <div class="row">
      <div class="col caption">
        <h6>Товар</h6>
      </div>
      <div class="col caption">
        <h6>Кількість</h6>
      </div>
      <div class="col caption">
        <h6>Надходження</h6>
      </div>
      <div class="col caption">
        <h6>Замовити</h6>
      </div>
      <div class="col caption">
        <h6>Вивіз</h6>
      </div>
      <div class="col caption">
        <h6>Деталі</h6>
      </div>
    </div>

    <div
      *ngFor="let item of items | filterByName: nameToFilter"
      class="row item"
      @fadeIn
      @fadeOut
    >
      <div class="col name">
        {{ item.name }}
      </div>

      <div class="col quantity">
        {{ item.quantity }}
      </div>

      <div class="col date">
        {{ item.date }}
      </div>

      <div class="col input-button">
        <div class="input">
          <input
            #quantityInputImport
            type="number"
            placeholder="0"
            (blur)="toggleClass2Active(quantityInputImport)"
            (mouseleave)="toggleClass2Active(quantityInputImport)"
            min="0"
            [max]="item.quantity"
            appNgNumber
          />
        </div>
        <div class="button">
          <a
            class="button-link"
            (click)="addToCart(item, quantityInputImport.value)"
          >
            <button>
              <i class="bx bx-import"></i>
            </button>
          </a>
          <span class="hint">додати до замовлення</span>
        </div>
      </div>

      <div class="col input-button">
        <div class="input" *ngIf="item.quantity">
          <input
            #quantityInputExport
            id="quantityInputExport{{ item.id }}"
            type="number"
            placeholder="0"
            (blur)="toggleClass2Active(quantityInputExport)"
            (mouseleave)="toggleClass2Active(quantityInputExport)"
            min="0"
            [max]="item.quantity"
            appNgNumber
          />
        </div>
        <div class="button">
          <div *ngIf="item.quantity" class="default">
            <a class="button-link" (click)="addToExport(item)">
              <button>
                <i class="bx bx-export"></i>
              </button>
            </a>
            <span class="hint">додати до експорту</span>
          </div>

          <div *ngIf="!item.quantity" class="disabled">
            <a class="button-link">
              <button>
                <i class="bx bx-export"></i>
              </button>
            </a>
            <span class="hint">немає в наявності</span>
          </div>
        </div>
      </div>

      <div class="col button">
        <a
          class="button-link"
          routerLink="/item/{{ item.id }}"
          [state]="{ pageName: item.name }"
        >
          <button>
            <i class="bx bx-link-external"></i>
          </button>
        </a>
        <span class="hint">переглянути деталі</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!items.length" class="table-is-empty">Пусто</div>
