<div class="entry-wrapper">
  <div class="entry">
    <input type="checkbox" id="chk" aria-hidden="true" />
    <div class="company">
      <form>
        <label for="chk" aria-hidden="true">{{
          "CompanyData" | translate
        }}</label>
        <input
          ngModel
          name="companyId"
          #companyId="ngModel"
          class="form-control"
          type="text"
          [placeholder]="'CompanyID' | translate"
          required
          minlength="7"
          maxlength="7"
          appNgNumber
        />
        <div
          class="errors dark"
          [class.active]="companyId.control.touched && !companyId.control.valid"
        >
          <div *ngIf="companyId.control.errors !== null">
            <span class="error" *ngIf="companyId.control.errors.required">{{
              "FieldIsRequired" | translate
            }}</span>
            <span
              class="error"
              *ngIf="
                companyId.control.errors!.minlength ||
                companyId.control.errors!.maxlength
              "
            >
              ID {{ "ConsistsOf" | translate }}
              {{ companyId.control.errors!.minlength.requiredLength }}
              {{ "Symbols" | translate }}.
              {{ "YouEntered" | translate }}
              {{ companyId.control.errors!.minlength.actualLength }}
            </span>
          </div>
        </div>

        <input
          ngModel
          name="companyPassword"
          #companyPassword="ngModel"
          class="form-control"
          type="password"
          [placeholder]="'Password' | translate"
          required
          minlength="7"
          maxlength="42"
          autocomplete="on"
        />
      </form>
      <div
        class="errors dark"
        [class.active]="
          companyPassword.control.touched && !companyPassword.control.valid
        "
      >
        <div *ngIf="companyPassword.control.errors !== null">
          <span
            class="error"
            *ngIf="companyPassword.control.errors!.required"
            >{{ "FieldIsRequired" | translate }}</span
          >
          <span class="error" *ngIf="companyPassword.control.errors!.minlength">
            {{ "MinLength" | translate }}:
            {{ companyPassword.control.errors!.minlength.requiredLength }}.
            {{ "YouEntered" | translate }}
            {{ companyPassword.control.errors!.minlength.actualLength }}
          </span>
          <span class="error" *ngIf="companyPassword.control.errors!.maxlength">
            {{ "MaxLength" | translate }}:
            {{ companyPassword.control.errors!.maxlength.requiredLength }}.
            {{ "YouEntered" | translate }}
            {{ companyPassword.control.errors!.maxlength.actualLength }}
          </span>
        </div>
      </div>

      <button
        type="submit"
        style="display: none; width: 0; height: 0; opacity: 0"
      ></button>
    </div>

    <div class="worker">
      <form>
        <label for="chk" aria-hidden="true">{{
          "EmployeeData" | translate
        }}</label>
        <input
          ngModel
          name="workerLogin"
          #workerLogin="ngModel"
          class="form-control"
          type="email"
          [placeholder]="'Login' | translate"
          required
          minlength="2"
          maxlength="42"
        />
        <div
          class="errors light"
          [class.active]="
            workerLogin.control.touched && !workerLogin.control.valid
          "
        >
          <div *ngIf="workerLogin.control.errors !== null">
            <span class="error" *ngIf="workerLogin.control.errors!.required">{{
              "FieldIsRequired" | translate
            }}</span>
            <span class="error" *ngIf="workerLogin.control.errors!.minlength">
              {{ "MinLength" | translate }}:
              {{ workerLogin.control.errors!.minlength.requiredLength }}.
              {{ "YouEntered" | translate }}
              {{ workerLogin.control.errors!.minlength.actualLength }}
            </span>
            <span class="error" *ngIf="workerLogin.control.errors!.maxlength">
              {{ "MaxLength" | translate }}:
              {{ workerLogin.control.errors!.maxlength.requiredLength }}.
              {{ "YouEntered" | translate }}
              {{ workerLogin.control.errors!.maxlength.actualLength }}
            </span>
          </div>
        </div>

        <input
          ngModel
          name="workerPassword"
          #workerPassword="ngModel"
          class="form-control"
          type="password"
          [placeholder]="'Password' | translate"
          required
          minlength="7"
          maxlength="42"
          autocomplete="on"
        />
        <div
          class="errors light"
          [class.active]="
            workerPassword.control.touched && !workerPassword.control.valid
          "
        >
          <div *ngIf="workerPassword.control.errors !== null">
            <span
              class="error"
              *ngIf="workerPassword.control.errors!.required"
              >{{ "FieldIsRequired" | translate }}</span
            >
            <span
              class="error"
              *ngIf="workerPassword.control.errors!.minlength"
            >
              {{ "MinLength" | translate }}:
              {{ workerPassword.control.errors!.minlength.requiredLength }}.
              {{ "YouEntered" | translate }}
              {{ workerPassword.control.errors!.minlength.actualLength }}
            </span>
            <span
              class="error"
              *ngIf="workerPassword.control.errors!.maxlength"
            >
              {{ "MaxLength" | translate }}:
              {{ workerPassword.control.errors!.maxlength.requiredLength }}.
              {{ "YouEntered" | translate }}
              {{ workerPassword.control.errors!.maxlength.actualLength }}
            </span>
          </div>
        </div>

        <button
          (click)="logIn({companyId, companyPassword, workerLogin, workerPassword})"
        >
          {{ "LogIn" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>

<div class="corner-panel">
  <select
    #language
    (change)="selectLanguage(language.value)"
    name="language"
    id="select-language"
    [value]="selectedLanguage"
  >
    <option value="ua">{{ "Ukrainian" | translate }}</option>
    <option value="pl">{{ "Polish" | translate }}</option>
    <option value="en">{{ "English" | translate }}</option>
  </select>
</div>

<img class="background" [src]="backgroundImage" alt="background-image" />
<img
  class="background-secondary"
  src="../../../static/images/entry/1.jpg"
  alt="background-image"
/>
