<div class="sidebar" [style.pointer-events]="isPointerEvents ? 'all' : 'none'">
  <div class="logo-details">
    <i class="bx bx-sitemap icon" (click)="toHome()"></i>
    <div class="logo_name" (click)="toHome()">
      {{ "SiteName" | translate }}
    </div>
    <i class="bx bx-menu" id="menu-button" (click)="toggleActive()"></i>
  </div>
  <ul class="nav-list">
    <!-- <li>
      <i class="bx bx-search" (click)="addActive();"></i>
      <input id="searchBar" type="text" placeholder="Пошук">
    </li> -->

    <li>
      <a routerLink="/">
        <i class="bx bx-sitemap icon"></i>
        <span class="links_name">{{ "SiteName" | translate }}</span>
      </a>
      <span class="hint">{{ "SiteName" | translate }}</span>
    </li>

    <li>
      <a routerLink="cart" [state]="{ pageName: 'GeneralOrder' | translate }">
        <i class="bx bx-cart-alt"></i>
        <span class="links_name">{{ "GeneralOrder" | translate }}</span>
      </a>
      <span class="hint">{{ "GeneralOrder" | translate }}</span>
    </li>

    <li>
      <a
        routerLink="export"
        [state]="{ pageName: 'GeneralExport' | translate }"
      >
        <i class="bx bx-export bx-rotate-90"></i>
        <span class="links_name">{{ "GeneralExport" | translate }}</span>
      </a>
      <span class="hint">{{ "GeneralExport" | translate }}</span>
    </li>

    <li>
      <a
        routerLink="import-registration"
        [state]="{ pageName: 'ImportRegistration' | translate }"
      >
        <i class="bx bxs-file-import"></i>
        <span class="links_name">{{ "ImportRegistration" | translate }}</span>
      </a>
      <span class="hint">{{ "ImportRegistration" | translate }}</span>
    </li>

    <li>
      <a
        routerLink="export-registration"
        [state]="{ pageName: 'ExportRegistration' | translate }"
      >
        <i class="bx bxs-file-export"></i>
        <span class="links_name">{{ "ExportRegistration" | translate }}</span>
      </a>
      <span class="hint">{{ "ExportRegistration" | translate }}</span>
    </li>

    <li>
      <a
        routerLink="inventory-statement"
        [state]="{ pageName: 'InventoryStatement' | translate }"
      >
        <i class="bx bx-info-square"></i>
        <span class="links_name">{{ "InventoryStatement" | translate }}</span>
      </a>
      <span class="hint">{{ "InventoryStatement" | translate }}</span>
    </li>

    <li>
      <a routerLink="user-page" [state]="{ pageName: 'UserPage' | translate }">
        <i class="bx bx-user"></i>
        <span class="links_name">{{ "UserPage" | translate }}</span>
      </a>
      <span class="hint">{{ "UserPage" | translate }}</span>
    </li>

    <li>
      <a routerLink="users" [state]="{ pageName: 'CompanyUsers' | translate }">
        <i class="bx bx-group"></i>
        <span class="links_name">{{ "CompanyUsers" | translate }}</span>
      </a>
      <span class="hint">{{ "CompanyUsers" | translate }}</span>
    </li>

    <li>
      <a
        routerLink="producers"
        [state]="{ pageName: 'ListOfManufacturers' | translate }"
      >
        <i class="bx bx-buildings"></i>
        <span class="links_name">{{ "ListOfManufacturers" | translate }}</span>
      </a>
      <span class="hint">{{ "ListOfManufacturers" | translate }}</span>
    </li>

    <li>
      <a
        routerLink="site-settings"
        [state]="{ pageName: 'SiteSettings' | translate }"
      >
        <i class="bx bxs-cog"></i>
        <span class="links_name">{{ "SiteSettings" | translate }}</span>
      </a>
      <span class="hint">{{ "SiteSettings" | translate }}</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <img
          [src]="
            user.photo_src === 'default'
              ? '../../../static/images/users/default1.png'
              : srcToPhotos + user.id
          "
          alt="profile image"
          (click)="toUserPage()"
        />
        <div class="name_job">
          <div class="name" (click)="toUserPage()">
            {{ user.first_name }} {{ user.last_name }}
          </div>
          <div class="job">{{ user.user_position }}</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out" (click)="logout()"></i>
    </li>
  </ul>
</div>
