<div class="modal-wrapper">
  <div class="modal-content">
    <div class="modal-title">
      {{ modalTitle }}
      <span class="modal-close" (click)="onClose()">
        <i class="bx bx-x" id="default"></i>
        <i class="bx bx-x-circle" id="with-circle"></i>
      </span>
    </div>
    <div class="modal-body">
      <label for="nameInput">Назва</label>
      <input type="text" id="nameInput" #nameInput />
    </div>
    <div class="modal-bottom">
      <button id="save-btn" (click)="onSave(nameInput.value)">Зберегти</button>
      <button id="cancel-btn" (click)="onClose()">Назад</button>
    </div>
  </div>
</div>