/* MODAL START */
.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
}
.modal-content {
  width: 520px;
  height: 520px;
  background-color: var(--foreground-2);
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.modal-content.user {
  height: 720px;
}
.modal-content.prod {
  height: 460px;
}
.modal-title {
  font-weight: 600;
  font-size: 20px;
  height: 40px;
  text-align: center;
}

/* MODAL CLOSE BUTTON */
.modal-close {
  position: absolute;
  top: 7px;
  right: 30px;
  cursor: pointer;
}
.modal-close i {
  position: absolute;
  color: rgba(225, 0, 0, 0.5);
  font-size: 24px;
  transition: all 0.2s ease;
}
.modal-close #with-circle {
  opacity: 0;
}
.modal-close:hover i {
  color: rgba(225, 0, 0, 0.9);
}
.modal-close:hover #default {
  opacity: 0;
}
.modal-close:hover #with-circle {
  opacity: 1;
}

/* MODAL BODY */
.modal-body {
  height: 70%;
  width: 100%;
}
.modal-body .row {
  margin-bottom: 25px;
}
.modal-body .row:last-child {
  margin-bottom: 0px;
}
.modal-body .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
}
.modal-body input[type="text"],
.modal-body input[type="number"],
.modal-body input[type="password"],
.modal-body input[type="datetime-local"],
.modal-body select {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  width: 80%;
  /* outline: none; */
  height: 30px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
  background: var(--foreground-3);
  padding-left: 10px;
}
.modal-body input[type="text"]:focus,
.modal-body textarea:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.modal-body textarea {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  border: none;
  background: var(--foreground-3);
}
.modal-body input:hover,
.modal-body select:hover,
.modal-body textarea:hover,
.modal-body input:focus,
.modal-body select:focus,
.modal-body textarea:focus {
  box-shadow: -3px 3px olive !important;
}

.modal-body .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.modal-body .inputfile + label {
  font-weight: 700;
  padding: 5px 10px;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.modal-body .inputfile:focus + label,
.modal-body .inputfile + label:hover {
  background-color: red;
}
.modal-body .inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.modal-body .inputfile + label * {
  pointer-events: none;
}

/* MODAL BOTTOM */
.modal-bottom {
  height: 40px;
  display: flex;
}
.modal-bottom button {
  border-radius: 6px;
  transition: all 0.2s ease;
  color: white;
  border: none;
}
.modal-bottom button:hover {
  border-radius: 2px;
}
.modal-bottom #save-btn {
  background: rgba(0, 225, 0, 0.2);
}
.modal-bottom #cancel-btn {
  background: rgba(225, 0, 0, 0.2);
  margin-left: 10px;
}
.modal-bottom #save-btn:hover {
  background: rgba(0, 225, 0, 0.6);
}
.modal-bottom #cancel-btn:hover {
  background: rgba(225, 0, 0, 0.6);
}

.errors {
  position: absolute;
  display: flex;
  opacity: 1;
  margin-top: 2px;
  height: 15px;
  font-size: 10px;
  background: rgba(255, 0, 0, 0.2);
  align-items: center;
  padding: 10px;
  transition: all 0.4s ease;
  border-radius: 5px;
}
.errors.light {
  color: black;
  background: rgba(255, 0, 0, 0.4);
}

/* MODAL END */

button.disabled {
  background-color: var(--foreground-1) !important;
  box-shadow: none !important;
  cursor: not-allowed;
}
button.disabled:hover {
  background-color: var(--foreground-1) !important;
  box-shadow: none !important;
}
