<div class="table">
  <div class="table-content">
    <div class="row">
      <div class="col caption">
        <h6>Товар</h6>
      </div>
      <div class="col caption">
        <h6>Кількість</h6>
      </div>
      <div class="col caption">
        <h6>Деталі</h6>
      </div>
    </div>

    <div *ngIf="order">
      <div
        *ngFor="
          let item of order.RegistrationModels | filterByName: nameToFilter
        "
        class="row item"
        @fadeIn
        @slide2right
      >
        <div class="col name">
          {{ item.ritem_name }}
        </div>
        <div class="col quantity">
          {{ item.ordered_quantity }}
        </div>
        <div class="col button">
          <a
            class="button-link"
            routerLink="/item/{{ item.ritem_id }}"
            [state]="{ pageName: item.ritem_name }"
          >
            <button>
              <i class="bx bx-link-external"></i>
            </button>
          </a>
          <span class="hint">переглянути деталі</span>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button (click)="registerExport()">Зареєструвати вивіз</button>
  </div>
</div>
