<div *ngIf="user" class="user-page">
  <div class="page-content">
    <div class="user-photo">
      <img
        [src]="
          user.photo_src === 'default'
            ? '../../../static/images/users/default1.png'
            : srcToPhotos + id
        "
        alt="Фото користувача"
      />
    </div>
    <div class="user-info">
      <ul id="user-info-keys">
        <li>{{ "Name" | translate }}:</li>
        <li>{{ "Surname" | translate }}:</li>
        <li>{{ "ByFather" | translate }}:</li>
        <li>{{ "Position" | translate }}:</li>
        <li>{{ "Phone1" | translate }}:</li>
        <li>{{ "Phone2" | translate }}:</li>
        <li>{{ "Role" | translate }}:</li>
      </ul>
      <ul id="user-info-values">
        <li>{{ user.first_name }}</li>
        <li>{{ user.last_name }}</li>
        <li>{{ user.middle_name }}</li>
        <li>{{ user.user_position }}</li>
        <li>{{ user.phone1 }}</li>
        <li>{{ user.phone2 }}</li>
        <li>
          {{
            user.user_role === "worker"
              ? ("Worker" | translate)
              : ("Administrator" | translate)
          }}
        </li>
      </ul>
    </div>
  </div>
</div>
