<div class="users">
  <div
    *ngFor="let user of users | filterByName: nameToFilter"
    class="user"
    @fadeIn
    @slide2right
  >
    <div class="user-content">
      <div class="image">
        <img
          [src]="
            user.photo_src === 'default'
              ? '../../../static/images/users/default1.png'
              : srcToPhotos + user.id
          "
          alt="Фото користувача '{{ user.last_name }} {{ user.first_name }}'"
          (click)="
            toUserDetails(user.id, user.last_name + ' ' + user.first_name)
          "
        />
        <div *ngIf="user.isOnline" class="green-circle"></div>
      </div>
      <div class="information">
        <div class="main">
          <span
            class="fullname"
            (click)="
              toUserDetails(user.id, user.last_name + ' ' + user.first_name)
            "
            >{{ user.last_name }} {{ user.first_name }}</span
          >
          -
          <span class="position">{{ user.user_position }}</span>
        </div>
        <div class="online">
          {{ "LastTimeOnline" | translate }}:
          {{
            user.isOnline
              ? ("Now" | translate)
              : user.lastLoginTime
              ? (user.lastLoginTime | normalDate: true | translateDate)
              : ("Never" | translate)
          }}
        </div>
        <div class="role">
          {{
            user.user_role === "worker"
              ? ("Worker" | translate)
              : user.user_role === "admin"
              ? ("Administrator" | translate)
              : user.user_role === "moder"
              ? ("Moderator" | translate)
              : "unknown"
          }}
        </div>
      </div>
      <div *ngIf="doesUserHavePrivileges" class="buttons">
        <button
          class="edit"
          (click)="editUser(user.id, user.last_name + ' ' + user.first_name)"
        >
          <i style="color: violet" class="bx bxs-edit"></i>
        </button>
        <button
          class="delete"
          (click)="
            chooseUserToDelete(user.id, user.last_name + ' ' + user.first_name)
          "
        >
          <i
            [ngStyle]="{ color: user.id === cuser.id ? '' : 'red' }"
            class="bx bx-trash"
          ></i>
        </button>
      </div>
    </div>
  </div>
</div>

<app-confirm-dialog
  *ngIf="modalActive"
  [modalTitle]="'Warning' | translate"
  [modalText]="'ConfirmAnAction' | translate"
  (onCloseEvent)="onCloseEvent($event)"
></app-confirm-dialog>
