<div class="table">
  <div class="table-content">
    <div class="row">
      <div class="col caption">
        <h6>{{ "Title" | translate }}</h6>
      </div>
      <div class="col caption">
        <h6>{{ "Quantity" | translate }}</h6>
      </div>
      <div class="col caption">
        <h6>{{ "Details" | translate }}</h6>
      </div>
    </div>

    <div *ngIf="order">
      <div
        *ngFor="
          let item of order.RegistrationModels | filterByName: nameToFilter
        "
        class="row item"
        @fadeIn
      >
        <div class="col name">
          {{ item.ritem_name }}
        </div>
        <div class="col quantity">
          {{ item.ordered_quantity }}
        </div>
        <div class="col button">
          <a
            class="button-link"
            routerLink="/item/{{ item.ritem_id }}"
            [state]="{ pageName: item.ritem_name }"
          >
            <button>
              <i class="bx bx-link-external"></i>
            </button>
          </a>
          <span class="hint">{{ "ViewDetails" | translate }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button (click)="downloadDOCX()">
      {{ "DownloadDOCXFile" | translate }}
    </button>
    <button (click)="registerImport()">
      {{ "RegisterImport" | translate }}
    </button>
  </div>
</div>
