.item {
  padding: 10px 10px 0px 10px;
  min-height: calc(100vh - 70px - 60px);
}
.item-name {
  font-size: 20px;
  text-align: center;
  padding: 20px 0px;
  text-transform: capitalize;
}
.item-content {
  position: relative;
}
.photo-description {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  line-height: 22px;
}
.photo-description img {
  width: 400px;
  height: 400px;
}
.photo-description .description {
  padding: 0px 0px 0px 20px;
  margin: 0px 10px 0px 0px;
}
.info {
  padding: 20px 0px;
}
.info ul li {
  line-height: 22px;
}
.info ul .param {
  font-weight: bold;
}
.buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
.buttons button {
  border: none;
  outline: none;
  background: #11101D;
  color: white;
  padding: 4px 5px 4px 5px;
  transition: all .4s ease;
  font-size: 18px;
  width: 50%;
  height: 60px;
  transition: all .3s ease;
}
.buttons button:hover {
  background: #1d1b31;
}
.buttons button:hover input {
  background: #11101D;
}
.buttons button input {
  margin-left: 20px;
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 30px;
  width: 100%;
  width: 100px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
  padding-left: 10px;
  text-align: center;
}