<div class="user-page">
  <div class="page-content">
    <div class="user-photo">
      <img src="../../../static/images/4-9.jpg" alt="user's photo">
    </div>
    <div class="user-info">
      <ul id="user-info-keys">
        <li>Ім'я:</li> 
        <li>Фамілія:</li>
        <li>По Батькові:</li>
        <li>Посада:</li>
        <li>Телефон 1:</li>
        <li>Телефон 2:</li>
      </ul>
      <ul id="user-info-values">
        <li>Ткачов</li> 
        <li>Артур</li>
        <li>Олегович</li>
        <li>Робітник</li>
        <li>+(38)-095-225-75-48</li>
        <li>+(38)-095-525-15-11</li>
      </ul>
    </div>
  </div>
</div>