<div class="user-page">
  <div class="page-content">
    <div class="user-photo">
      <img
        [src]="
          '../../../static/images/workers/' +
          (user.photo_src !== 'default' ? user.photo_src : 'default1.png')
        "
        alt="user's photo"
      />
    </div>
    <div class="user-info">
      <ul id="user-info-keys">
        <li>Ім'я:</li>
        <li>Фамілія:</li>
        <li>По Батькові:</li>
        <li>Посада:</li>
        <li>Телефон 1:</li>
        <li>Телефон 2:</li>
      </ul>
      <ul id="user-info-values">
        <li>{{ user.first_name }}</li>
        <li>{{ user.last_name }}</li>
        <li>{{ user.middle_name }}</li>
        <li>{{ user.user_position }}</li>
        <li>{{ user.phone1 }}</li>
        <li>{{ user.phone2 }}</li>
      </ul>
    </div>
  </div>
</div>

<!-- [src]="
  '../../../static/workers/items/' +
  (user.photo_src !== 'default' ? user.photo_src : 'default1.png')
" -->
