<div class="sidebar">
  <div class="logo-details">
    <i class="bx bx-sitemap icon" (click)="toHome()"></i>
    <div class="logo_name" (click)="toHome()">Склад</div>
    <i class="bx bx-menu" id="menu-button" (click)="toggleActive()"></i>
  </div>
  <ul class="nav-list">
    <!-- <li>
      <i class="bx bx-search" (click)="addActive();"></i>
      <input id="searchBar" type="text" placeholder="Пошук">
    </li> -->

    <li>
      <a routerLink="/">
        <i class="bx bx-sitemap icon"></i>
        <span class="links_name">Склад</span>
      </a>
      <span class="hint">Склад</span>
    </li>

    <li>
      <a routerLink="cart" [state]="{pageName: 'загальне замовлення'}">
        <i class="bx bx-cart-alt"></i>
        <span class="links_name">Загальне замовлення</span>
      </a>
      <span class="hint">Загальне замовлення</span>
    </li>

    <li>
      <a routerLink="export" [state]="{pageName: 'загальний вивіз'}">
        <i class="bx bx-export bx-rotate-90"></i>
        <span class="links_name">Загальний вивіз</span>
      </a>
      <span class="hint">Загальний вивіз</span>
    </li>

    <li>
      <a routerLink="import-registration" [state]="{pageName: 'реєстрація надходження'}">
        <i class="bx bxs-file-import"></i>
        <span class="links_name">Реєстрація надходження</span>
      </a>
      <span class="hint">Реєстрація надходження</span>
    </li>

    <li>
      <a routerLink="export-registration" [state]="{pageName: 'реєстрація вивезення'}">
        <i class="bx bxs-file-export"></i>
        <span class="links_name">Реєстрація вивезення</span>
      </a>
      <span class="hint">Реєстрація вивезення</span>
    </li>

    <li>
      <a routerLink="inventory-statement" [state]="{pageName: 'інвентарна відомість'}">
        <i class="bx bx-info-square"></i>
        <span class="links_name">Інвентарна відомість</span>
      </a>
      <span class="hint">Інвентарна відомість</span>
    </li>

    <li>
      <a routerLink="user-page" [state]="{pageName: 'сторінка користувача'}">
        <i class="bx bx-user"></i>
        <span class="links_name">Сторінка користувача</span>
      </a>
      <span class="hint">Сторінка користувача</span>
    </li>

    <li>
      <a routerLink="site-settings" [state]="{pageName: 'налаштування сайту'}">
        <i class="bx bxs-cog"></i>
        <span class="links_name">Налаштування сайту</span>
      </a>
      <span class="hint">Налаштування сайту</span>
    </li>

    <li class="profile">
        <div class="profile-details">
          <img src="../../static/images/4-9.jpg" alt="profile image" (click)="toUserPage()">
          <div class="name_job">
            <div class="name" (click)="toUserPage()">Артур Ткачов</div>
            <div class="job">Робітник</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out" (click)="exit()"></i>
    </li>
  </ul>
</div>