.table-content {
  color: white;
}
.row {
  --bs-gutter-x: 0px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  border-top: 1px #11101D solid;
  padding: 5px 0px;
}

button {
  border: none;
  outline: none;
  background: #11101D;
  color: white;
  border-radius: 4px;
  padding: 4px 5px 4px 5px;
  transition: all .4s ease;
  font-size: 18px;
}
.button-link {
  width: 50%;
  display: flex;
  justify-content: center;
  opacity: 0.9;
}
.button-link:hover button {
  background: #1d1b31;
  transform: scale(1.1);
  opacity: 1;
}

.col.caption {
  font-size: 18px;
  text-transform: uppercase;
}
.col.name {
  text-transform: capitalize;
}

.col.button {
  position: relative;
}
.hint {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto 20px;
  z-index: 3;
  background: #1d1b31;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  text-align: center;
}
.col.button:hover .hint {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: -20px;
  transform: translateY(-50%);
}

.table-is-empty {
  display: flex;
  width: 100%;
  height: calc(100% - 70px);
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.col.button .button-input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 0;
  width: 0;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
  padding-left: 10px;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.col.button:hover .button-input {
  background: #11101D;
  opacity: 1;
  height: 30px;
  width: 100%;
}

.col.button .button-input.active {
  opacity: 1;
  height: 30px;
  width: 100%;
}